<div class="border border-gray-300 rounded-lg overflow-hidden">
  <div class="bg-gray-100 px-6 py-4 text-xl">
    <p>Product search tags</p>
  </div>
  <div *ngIf="product" class="p-4">
    <form class="flex flex-col gap-4 text-lg">
      <div class="form-control px-[1.5rem]">
        <label>Category</label>
        <input name="category" [(ngModel)]="product.category" class="w-7/12" type="text" placeholder="category">
      </div>
      <div class="form-control">
        <mat-form-field class="w-full" appearance="fill">
          <mat-chip-list #chipList aria-label="category selection">
            <mat-chip class="bg-gray-100" *ngFor="let tag of product.tags" (removed)="remove(tag)">
              {{tag}}
              <button matChipRemove>
                <mat-icon svgIcon="">cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="new tag..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
