<div class="w-7/12 m-auto border border-gray-300 rounded-lg">
  <div class="px-6 py-4 text-xl bg-gray-200">
    <p class="">{{pageTitle}}</p>
  </div>
  <div class="p-6 pl-8">
    <div class="tabs-container flex mb-4">
      <div class="tab tab-1 left-1">
        <a routerLink="info" routerLinkActive="bg-blue-500 text-white">edit-info</a>
        <span *ngIf="!isValid('info')"
              class="absolute inline-block w-8 h-8 rounded-full bg-white text-red-500 top-[50%] left-2 translate-y-[-50%]">!</span>
      </div>
      <div class="tab tab-2">
        <a routerLink="tags" routerLinkActive="bg-blue-500 text-white">edit-tags</a>
        <span *ngIf="!isValid('tags')"
              class="absolute inline-block w-8 h-8 rounded-full bg-white text-red-500 top-[50%] right-2 translate-y-[-50%]">!</span>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="actions px-6 py-2">
      <button
        type="button"
        class="bg-green-100 border-green-400 hover:border-green-500"
        [disabled]="!formIsValid()"
        (click)="saveProduct()">
        Save
      </button>
      <button
        routerLink="/products"
        type="button"
        class="bg-yellow-100 border-yellow-400 hover:border-yellow-500"
        title="Cancel your edits">
        Cancel
      </button>
      <button
        type="button"
        class="bg-red-100 border-red-400 hover:border-red-500"
        title="Delete this product"
        (click)="deleteProduct()">
        Delete
      </button>
    </div>
  </div>
</div>
