<div class="flex h-full flex-col border border-gray-500 rounded-lg overflow-hidden w-8/12 m-auto">
  <div class="bg-gray-200 px-10 py-6 flex justify-between items-center px-4 text-2xl">
    <p>Product Detail  {{product?.productName ?? 'Not Found'}}</p>
    <div>
      <button
        routerLink="/products"
        queryParamsHandling="preserve"
        class="inline-block text-2xl text-white bg-red-400 hover:bg-red-500 px-12 py-3 rounded-lg mr-6">Back</button>
      <a [routerLink]="['/products',product?.id,'edit']" class="inline-block text-2xl text-white bg-blue-400 hover:bg-blue-500 px-12 py-3 rounded-lg">Edit</a>
    </div>
  </div>
  <div class="flex-1 p-8">
    <div *ngIf="loading && !errorMessage" class="flex items-center justify-center flex-1 text-4xl bg-red-300">
      please wait while we load your product
    </div>
    <div *ngIf="!product && !loading && !errorMessage" class="flex items-center justify-center flex-1 text-4xl bg-red-300">
      Product Not Found
    </div>
    <div *ngIf="errorMessage" class="flex items-center justify-center flex-1 text-4xl bg-red-300">
      {{errorMessage}}
    </div>
    <div *ngIf="product" class="flex items-center justify-center">
      <div class="w-7/12">
        <table class="w-7/12 m-auto text-xl table-fixed">
          <tbody>
          <tr>
            <td class="w-fit">Name </td>
            <td>{{product.productName}}</td>
          </tr>
          <tr>
            <td>Code </td>
            <td>{{product.productCode}}</td>
          </tr>
          <tr>
            <td>Description </td>
            <td>{{product.description}}</td>
          </tr>
          <tr>
            <td>Availability </td>
            <td>{{product.releaseDate}}</td>
          </tr>
          <tr>
            <td>Price </td>
            <td>{{product.price | currency:'INR'}}</td>
          </tr>
          <tr>
            <td>5 star rating </td>
            <td>
              <app-rating-star color="#f2d70c" [starCount]="product.starRating"></app-rating-star>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <div class="w-1/2">
          <img [src]="product.imageUrl"/>
        </div>
      </div>
    </div>
  </div>
  </div>
